$basicColor: #8C8CEEFF;
$widgetPadding: 15px;
$basicShadow: 0 0 10px rgba(0, 0, 0, 0.50);

// basic components colors

// basic button
$basicBtnBg: #ffffff;
$basicBtnActiveBg: #d3d2d2;
$basicBtnHoverBg: #c7c7f3;
$basicBtnHoverFont: #ffffff;

// basic input
$basicInputBg: #c7c7f3;
$basicInputPlaceholder: #ffffff;
$basicInputFocusBg: #ffffff;
$basicInputHoverBg: #ffffff;
$basicInputFocusPlaceholder: #8a8a8a;
$basicInputHoverPlaceholder: #8a8a8a;

// basic components params
$basicBorderRadius: 5px;

